  <link rel="stylesheet" href="/assets/all.min.css">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assets/responsive.css">
  <link rel="stylesheet" href="/assets/slick.css">
  <link rel="stylesheet" href="/assets/slick-theme.css">
